.well.color-background
  %ul#tabs.nav.nav-tabs.rounded{"data-tabs" => "tabs"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#return"} Return
    %li
      %a{"data-toggle" => "tab", :href => "#single"} One Way
  #my-tab-content.tab-content.table-bordered
    / return triptab
    #return.tab-pane.active
      .row.margin-lft-rgt-md
        .input-group
          .form-row
            %label.margin-all-none{:for => "from"} From
          / from destination
          = render 'flightsearch/component/countryselector'
          / end destination from
          .form-row.margin-top-none
            %label.margin-all-none{:for => "destination"} Destination
          / country selector component
          = render 'flightsearch/component/countryselector'
          .clearfix
          / end country selector component
          .form-row.margin-top-xs
            %label.margin-all-none.pad-btm-none.pad-top-none{:for => "departuredate"} Departure Date
            .cols-sm-12
              .form-group.margin-all-none
                / date selector component
                = render 'flightsearch/component/dateselector'
                / end date selector component
          .form-row.margin-top-none.pad-top-none
            %label.margin-all-none.pad-topdown-none{:for => "returndate"} Return Date
            .cols-sm-12
              .form-group.margin-all-none
                / date selector component
                = render 'flightsearch/component/dateselector'
                / date selector component
          .clearfix
          .form-row.margin-top-none
            %label.margin-all-none{:for => "passenger"} Passengers
            %input#passengers{:type => "text"}/
          .form-row.margin-top-none.center
            %button.btn.btn-reg Search
    / single trip tab
    #single.tab-pane
      .row.margin-lft-rgt-md
        .input-group
          .form-row
            %label.margin-all-none{:for => "from"} From
          / country selector
          = render 'flightsearch/component/countryselector'
          / end country selector
          .form-row.margin-top-none
            %label.margin-all-none{:for => "destination"} Destination
          / from country selector
          = render 'flightsearch/component/countryselector'
          / end country selector
          .clearfix
          .form-row.margin-top-xs
            %label.margin-all-none.pad-btm-none.pad-top-none{:for => "departuredate"} Departure Date
            .cols-sm-12
              .form-group.margin-all-none
                / date selector component
                = render 'flightsearch/component/dateselector'
                / end date selector component
          / end departure date selector
          .clearfix
          .form-row.margin-top-none
            %label.margin-all-none{:for => "passenger"} Passengers
            %input#passengers{:type => "text"}/
          .form-row.margin-top-none.center
            %button.btn.btn-reg Search